# folders.
.cloud

.storage
.google.token
tts
icloud
certificat

#files
*.pem
*temoinBackup*
*.conf
*.log
*.bat
*.cmd
*.uuid
*.temoinBackup

ip_bans.yaml
secrets.yaml
known_devices.yaml
aircast.xml
flux_led_devices.yaml
backup.cmd
*.lnk
www/images/Thumbs.db

home-assistant_v2.*
www/images/Thumbs.db
